profiles {

        aws {
//                docker.enabled         = true
//                docker.registry        = '424336837382.dkr.ecr.us-east-1.amazonaws.com'
                includeConfig 'config/docker.config'
                includeConfig 'config/aws_params.config'
                includeConfig 'config/aws_ec2_test.config'
        }

}
