    process {
       errorStrategy = 'retry'
       cpus = 2
       memory = '3 GB'

    withName: 'Fastqc|Multiqc|VDJtools|Mixcr|Vcf2txt|Mergefusion|MergeHLA|Strandedness|CircosPlot|FormatInput|annovar_data|Custom_annotation|Combine_annotation' {
       cpus = '4'
       memory = '10 GB'
       time = '4h'
   }

    withName: 'Fusioncatcher|Genotyping' {
       cpus = '16'
       memory = '100 GB'
       time = '45h'
   }


    withName: 'Star|Rsem|Arriba|Starfusion|Seq2HLA|HLAminer|Cutadapt|SnpEff|CoveragePlot' {
       cpus = '16'
       memory = '100 GB'
       time = '15h'
   }

    withName: 'Picard.*|GATK.*|Hotspot_Coverage|Hotspot_Boxplot|Flagstat|Bamutil|RNAseq_HaplotypeCaller|HotspotPileup|RNAseQC' {
       cpus = '16'
       memory = '100 GB'
       time = '15h'
   }

}
