    process {
       errorStrategy = 'retry'
       cpus = 2
       memory = '3 GB'

    withName: 'Fastqc|Multiqc|VDJtools|Mixcr|Vcf2txt|Mergefusion' {
       cpus = '4'
       memory = '10 GB'
       time = '4h'
   }

    withName: 'Fusioncatcher|Genotyping' {
       cpus = '16'
       memory = '150 GB'
       time = '45h'
   }


    withName: 'Star|Rsem|Arriba|Starfusion|Seq2HLA|HLAminer|Cutadapt|SnpEff|FormatInput' {
       cpus = '16'
       memory = '120 GB'
       time = '15h'
   }

    withName: 'Picard.*|GATK.*|Hotspot_Coverage|Hotspot_Boxplot|Flagstat|Bamutil|RNAseq_HaplotypeCaller|MergeHLA|HotspotPileup|annovar_data|Custom_annotation|CoveragePlot|Combine_annotation|RNAseQC|CircosPlot|Strandedness' {
       cpus = '8'
       memory = '120 GB'
       time = '10h'
   }

}
