params {
    reads = "/data/khanlab/projects/fastq/*_{R1,R2}.fastq.gz"
    resultsdir = "$OUTDIR/results.$OUTTAG"
    publishDirMode = "copy"
    star_genome_index = "/data/khanlab/projects/ngs_pipeline_testing/index-STAR_2.7.9a"
    gtf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.annotation_ERCC92.gtf"
    transcript_gtf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.transcript_ERCC92.gtf"
    ref_flat = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/ref_flat.txt.gz"
    rRNA_interval = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/rRNA_body.txt"
    rsem_index = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Index/rsem_1.3.2"
    strandedness = "'none'"
    genome = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa"
    genome_test = "/vf/users/Clinomics/Ref/khanlab/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa"
    genome_fai = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa.fai"
    genome_dict = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.dict"
    chrom_sizes = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/chrom.sizes"
    phase1_1000g = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/1000G_phase1.indels.hg19.vcf"
    dbsnp = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/dbsnp_138.b37.chr_added_sorted.vcf"
    Mills_and_1000g = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Mills_and_1000G_gold_standard.indels.hg19.vcf"
    Sites1000g4genotyping = "/data/Clinomics/Ref/khanlab/annotation/1000gSites4genotyping.v2.bed"
    fusioncatcher_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/fusioncatcher/human_v102"
    starfusion_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/starfusion/ctat_genome_lib_build_dir"
    mixcr_license = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/mixcr/mi.license"
    access_hotspot = "/data/Clinomics/Ref/khanlab/hotspot/hg19_Hotspot.08.08.16_merged.bed"
    hg19_hotspot_pos = "/data/Clinomics/Ref/khanlab/annotation/hg19_hotspot_pos.txt"
    Biowulf_snpEff_config  = "/data/Clinomics/Tools/ngs_pipeline_4.2/Tools_config/Biowulf_snpEff.config"
    dbNSFP2_4 = "/fdb/dbNSFP2/dbNSFP2.4.txt.gz"
    dbNSFP2_4_tbi = "/fdb/dbNSFP2/dbNSFP2.4.txt.gz.tbi"
    //Annotation
    annovar_data = "/data/Clinomics/Ref/khanlab/annotation/"
    cosmic = "/data/Clinomics/Ref/khanlab/annotation/hg19_cosmic78.txt"
    clinseq = "/data/Clinomics/Ref/khanlab/annotation/hg19_clinseq_951.txt"
    pcg = "/data/Clinomics/Ref/khanlab/annotation/hg19_PCG_042616.txt"
    clinvar = "/data/Clinomics/Ref/khanlab/annotation/hg19_clinvar_20160831.txt"
    hgmd = "/data/Clinomics/Ref/khanlab/annotation/hg19_hgmd.2018.4.txt"
    matchTrial = "/data/Clinomics/Ref/khanlab/annotation/hg19_MATCHTrial_2015_11.txt"
    mcg = "/data/Clinomics/Ref/khanlab/annotation/hg19_MCG.06.24.15.txt"
    DoCM = "/data/Clinomics/Ref/khanlab/annotation/hg19_DoCM.txt"
    CanDL = "/data/Clinomics/Ref/khanlab/annotation/hg19_candl_10262015.txt"
    targetted_cancer_care = "/data/Clinomics/Ref/khanlab/annotation/hg19_targated_cancer_care_10262015.txt"
    civic = "/data/Clinomics/Ref/khanlab/annotation/hg19_civic_10262015.txt"
    ACMG = "/data/Clinomics/Ref/khanlab/annotation/hg19_ACMG_v2.txt"
    hg19_BLsites = "/data/Clinomics/Ref/khanlab/annotation/hg19_blacklistedSites.txt"
    hg19_WLsites = "/data/Clinomics/Ref/khanlab/annotation/hg19_whitelistedSites.txt"
    //design kit
    access_target = "/data/Clinomics/Ref/khanlab/design/IlluminaAccessKitRNASeq.target.hg19.merged.bed"
    // Arriba params come from the docker
    // blacklist = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/blacklist_hg19_hs37d5_GRCh37_v2.0.0.tsv.gz"
    // proteinDomains = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/protein_domains_hg19_hs37d5_GRCh37_v2.0.0.gff3"
    // cytobands = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/cytobands_hg19_hs37d5_GRCh37_v2.0.0.tsv"
}
