// def publishDirMode = 'move'

process {
    executor = 'slurm'
    queue = 'norm'
    queueSize = 100
    errorStrategy = 'finish'
    maxRetries = 0
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    submitRateLimit = '6/1min'
    clusterOptions = ' --gres=lscratch:40'

    withName: 'Cutadapt|Fastqc|Multiqc|VDJtools|Mixcr' {
       cpus = '4'
       memory = '2 GB'
       queue = 'quick'
       time = '2h'
   }

    withName: 'Star|Rsem|Arriba|Fusioncatcher|Starfusion' {
       cpus = '16'
       memory = '120 GB'
       queue = 'ccr,norm'
       time = '4h'
   }

    withName: 'Picard.*|GATK.*' {
       cpus = '8'
       memory = '120 GB'
       queue = 'ccr,norm'
       time = '4h'
   }

}