params {
    reads = "/data/khanlab/projects/fastq/*_{R1,R2}.fastq.gz"
    resultsdir = "$OUTDIR/results.$OUTTAG"
    publishDirMode = "copy"
    star_genome_index = "/data/khanlab/projects/ngs_pipeline_testing/index-STAR_2.7.9a"
    gtf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.annotation_ERCC92.gtf"
    ref_flat = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/ref_flat.txt.gz"
    rRNA_interval = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/rRNA_body.txt"
    rsem_index = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Index/rsem_1.3.2"
    genome = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa"
    genome_fai = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa.fai"
    genome_dict = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.dict"
    phase1_1000g = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/1000G_phase1.indels.hg19.vcf"
    Mills_and_1000g = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Mills_and_1000G_gold_standard.indels.hg19.vcf"
    Sites1000g4genotyping = "/data/Clinomics/Ref/khanlab/annotation/1000gSites4genotyping.bed"
    vcf2genotype = "/data/Clinomics/Tools/ngs_pipeline_4.2/scripts/vcf2genotype.pl"
    vcf2loh = "/data/Clinomics/Tools/ngs_pipeline_4.2/scripts/vcf2loh.pl"
    fusioncatcher_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/fusioncatcher/human_v102"
    starfusion_db = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/starfusion/ctat_genome_lib_build_dir"
    mixcr_license = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/mixcr/mi.license"
    // Arriba params come from the docker
    // blacklist = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/blacklist_hg19_hs37d5_GRCh37_v2.0.0.tsv.gz"
    // proteinDomains = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/protein_domains_hg19_hs37d5_GRCh37_v2.0.0.gff3"
    // cytobands = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/arriba_v2.0.0/database/cytobands_hg19_hs37d5_GRCh37_v2.0.0.tsv"
}
