// def publishDirMode = 'move'

process {
    executor = 'slurm'
    queue = 'norm'
    queueSize = 100
    errorStrategy = 'finish'
    maxRetries = 0
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    submitRateLimit = '6/1min'
    cache = 'deep'
    clusterOptions = ' --gres=lscratch:400'
    //scratch = '/lscratch/$SLURM_JOBID'
    //stageInMode = 'symlink'
    //stageOutMode = 'rsync'
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1

    withName: 'Fastqc|Multiqc|VDJtools|Mixcr|Mutect_order|Vcf2txt|CNVkit_png|CircosPlot|Mergefusion|FailedExons_Genes|RNAlibrary_customQC|Lib1_RNAqc_TrancriptCoverage|CoveragePlot|Coverage|Actionable.*|DBinput.*' {
       cpus = '4'
       memory = '10 GB'
       queue = 'quick,norm'
       time = '1h'
   }

    withName: 'Fusioncatcher|Genotyping' {
       cpus = '16'
       memory = '150 GB'
       queue = 'ccr,norm'
       time = '10h'
       clusterOptions = '--gres=lscratch:800'
   }

       withName: 'Star|Rsem|Arriba|Starfusion|Seq2HLA.*|HLAminer.*|Cutadapt|SnpEff|FormatInput|BWA|Mutect|Manta|Strelka|Strelka_vcf_processing' {
       cpus = '16'
       memory = '100 GB'
       queue = 'ccr,norm'
       time = '10h'
       clusterOptions = '--gres=lscratch:800'
   }


    withName: 'Picard.*|HSMetrics|Kraken|Krona|Conpair.*|UnionSomaticCalls|Exome_QC|AddAnnotation.*|Combine_variants|VEP|Fastq_screen|TargetIntervals|GATK.*|Hotspot_Coverage|Hotspot_Boxplot|Flagstat|Bamutil|RNAseq_HaplotypeCaller|MergeHLA|HotspotPileup|annovar_data|Custom_annotation|CoveragePlot|Combine_annotation|RNAseQC|CircosPlot_lib|Strandedness|Read_depth|VerifyBamID|Exome_HaplotypeCaller|CNVkitPooled' {
       cpus = '8'
       memory = '120 GB'
       queue = 'ccr,norm'
       time = '10h'
   }

}
