// def publishDirMode = 'move'

process {
    executor = 'slurm'
    queue = 'norm'
    queueSize = 100
    errorStrategy = 'finish'
    maxRetries = 0
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    submitRateLimit = '6/1min'
    clusterOptions = ' --gres=lscratch:40'

    withName: 'Fastqc|Multiqc|VDJtools|Mixcr|Vcf2txt' {
       cpus = '4'
       memory = '2 GB'
       queue = 'quick'
       time = '2h'
   }

    withName: 'Star|Rsem|Arriba|Fusioncatcher|Starfusion|Seq2HLA|HLAminer|Cutadapt|SnpEff|FormatInput' {
       cpus = '16'
       memory = '120 GB'
       queue = 'ccr,norm'
       time = '4h'
   }

    withName: 'Picard.*|GATK.*|Hotspot_Coverage|Hotspot_Boxplot|Flagstat|Bamutil|RNAseq_HaplotypeCaller|MergeHLA|Genotyping|HotspotPileup|annovar_data|Custom_annotation' {
       cpus = '8'
       memory = '120 GB'
       queue = 'ccr,norm'
       time = '4h'
   }

}
