process {
    withName: 'Cutadapt' {
        container = 'nciccbr/ncigb_cutadapt_v1.18:latest'
    }
    withName: 'Fastqc' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
    withName: 'Star|Rsem|Arriba|Starfusion' {
        container = 'nciccbr/ccrgb_starplus:vlatest'
    }
    withName: 'Fusioncatcher' {
        container = 'nciccbr/ccrgb_fusioncatcher:v2.0'
    }
    // withName: 'Multiqc' {
    //     container = 'nciccbr/ccbr_multiqc_1.9:v0.0.1'
    // }
    // withName: 'Picard.*' {
    //     container = 'nciccbr/ccrgb_qctools:latest'
    // }
    // withName: 'GATK.*' {
    //     container = 'nciccbr/ccrgb_gatk_3.8-1:v1.0'
    /*}
    withName: 'Genotyping' {
        container = 'nciccbr/ccrgb_qctools:latest'
    }
    withName: 'Mixcr' {
        container = 'nciccbr/ccrgb_mixcr:latest'
    }
    withName: 'VDJtools' {
        container = 'nciccbr/ccrgb_vdjtools:latest'
    }
}
