process {

	withName: 'Cutadapt' {
		container = 'nciccbr/ncigb_cutadapt_v1.18:latest'
	}
	withName: 'Fastqc' {
		container = 'nciccbr/ccbr_fastqc_0.11.9:v1.1'
	}
	withName: 'Star' {
		container = 'nciccbr/ncigb_star_v2.7.10a:latest'
	}
	withName: 'Rsem' {
		container = 'nciccbr/ccbr_rsem_1.3.3:v1.0'
	}
	withName: 'Multiqc' {
		container = 'nciccbr/ccbr_multiqc_1.9:v0.0.1'
	}
	withName: 'Picard.*' {
		container = 'nciccbr/ccrgb_qctools:latest'
	}
	withName: 'GATK.*' {
		container = 'nciccbr/ccrgb_gatk_3.8-1:v1.0'
	}
        withName: 'Genotyping' {
                container = 'nciccbr/ccrgb_qctools:latest'
        }
}
