process {
	withName: 'Cutadapt' {
		container = 'nciccbr/ncigb_cutadapt_v1.18:latest'
	}
	withName: 'Fastqc' {
		container = 'nciccbr/ccrgb_qctools:latest'
	}
	withName: 'Star|Rsem|Arriba' {
		container = 'nciccbr/ccrgb_starplus:latest'
	}
	withName: 'Multiqc' {
		container = 'nciccbr/ccbr_multiqc_1.9:v0.0.1'
	}
	withName: 'Picard.*' {
		container = 'nciccbr/ccrgb_qctools:latest'
	}
	withName: 'GATK.*' {
		container = 'nciccbr/ccrgb_gatk_3.8-1:v1.0'
	}
        withName: 'Genotyping' {
                container = 'nciccbr/ccrgb_qctools:latest'
        }
}
