params {
    genome_version = "GRCm39"
    star_genome_index = "/data/khanlab/projects/Nextflow_dev/Index_maker/results/GRCm39_vM33/Star_index"
    gtf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/GRCm39/gencode.vM33.primary_assembly.annotation.gtf"
    gtf_sorted = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/GRCm39/gencode.vM33.primary_assembly.annotation.sorted.gtf.gz"
    gtf_sorted_index = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/GRCm39/gencode.vM33.primary_assembly.annotation.sorted.gtf.gz.tbi"
    rsem_index = "/data/khanlab/projects/Nextflow_dev/Index_maker/results/GRCm39_vM33/rsem_index"
    publishDirMode = "link"
    //resultsdir = "$OUTDIR"
 }
