params {
    reads = "/data/khanlab/projects/fastq/*_{R1,R2}.fastq.gz"
    resultsdir = "$OUTDIR/results.$OUTTAG"
    publishDirMode = "copy"
    star_genome_index = "/data/khanlab/projects/ngs_pipeline_testing/index-STAR_2.7.9a"
    gtf = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/gencode.v37lift37.annotation_ERCC92.gtf"
    rsem_index = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/Index/rsem_1.3.2"
    strandedness = "none"
//    genome = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa"
//    genome_fai = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.fa.fai"
//    genome_dict = "/data/khanlab/projects/ngs_pipeline_testing/References_4.0/New_GRCh37/GRCh37.primary_assembly.genome_ERCC92_ksorted.dict"
}
