params {
    config_profile_name        = 'testparams_nextflow'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    reads = "s3://ccr-genomics-testdata/testdata/Test*_R_T_R{1,2}.fastq.gz",

    // Genome references
    genome_index       = "s3://ccr-genomics-testdata/References/index-STAR_2.7.9a",
    gtf                = "s3://ccr-genomics-testdata/References/gencode.v37lift37.annotation_ERCC92.gtf",
    rsem_index         = "s3://ccr-genomics-testdata/References/rsem_1.3.2",
    s3_bucket          = "s3://agc-424336837382-us-east-1"
}
